@font-face {
    font-family: "Freaky";
    src: url('Freaky.otf');
}
@font-face {
    font-family: "Ganley";
    src: url('Ganley.otf');
}
.Freaky{
    font-family: Freaky;
    font-size: 4em;
    text-align: center;
}
.ganleyT{
    font-family: Ganley;
    font-size: 3em;
    text-align: center;
}
.img1{
    width: 300px;
    float: right;
    padding-right: 15px;
    padding-bottom: 10px;
}
.paOne{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 25px;
}